<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
  <system.webServer>
    <staticContent>
      <remove fileExtension=".proto" />
      <mimeMap fileExtension=".proto" mimeType="text/plain" />
      <remove fileExtension=".glsl"/>
      <mimeMap fileExtension=".glsl" mimeType="text/plain" />
      <remove fileExtension=".frag"/>
      <mimeMap fileExtension=".frag" mimeType="text/plain" />
      <remove fileExtension=".vert"/>
      <mimeMap fileExtension=".vert" mimeType="text/plain" />
      <remove fileExtension=".json"/>
      <mimeMap fileExtension=".json" mimeType="text/plain" />
      <remove fileExtension=".wav"/>
      <mimeMap fileExtension=".wav" mimeType="audio/wav" />
      <remove fileExtension=".mp3"/>
      <mimeMap fileExtension=".mp3" mimeType="audio/mp3" />
    </staticContent>
  </system.webServer>
</configuration>